.pageContainer {
  min-height: 100vh;
  margin-left: 0;
  /* Default padding */
  transition: padding-left 0.3s ease;
}

.homeContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  user-select: none;
  -webkit-user-select: none;
}

@media (min-width: 801px) {
  .pageContainer {
    margin-left: 70px;
    /* Make margin on wider screens */
  }
}

@media (max-width: 800px) {
  .pageContainer {
    margin-left: 0;
  }
}