header {
  position: fixed;
  top: 0;
  width: 800px;
  max-width: 100%;
  z-index: 1000;
}

.header-buttons {
  margin: env(safe-area-inset-top);
  display: flex;
  justify-content: space-between;
}

.button-back {
  padding: 15px;
}

.button-show-description {
  padding: 15px;
}

main {
  padding-top: 60px;
  width: 100%;
}

.subject {
  text-align: left;
  font-size: 25px;
  margin: 10px 30px;
  width: 90%;
}

.md-text {
  text-align: left;
  font-size: 18px;
  margin: 10px 30px;
  width: 90%;
}

.md-text p {
  margin: 5px auto;
}

li {
  list-style: none;
}

.question-choices {
  text-align: left;
}

.question-choices p {
  font-size: 15px;
  margin: 5px auto;
}

.question-choice-content {
  margin-left: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 800px;
  max-width: 100%;
  z-index: 1000;
  justify-content: center;
}

.new-description-textbox {
  width: 70%;
  height: 50px;
  display: inline-block;
  margin: 10px auto;
  padding: 0 20px;
  background-color: rgb(235, 235, 235);
  color: black;
  border-radius: 999px;
  font-size: 15px;
}

.choices {
  margin-bottom: calc(env(safe-area-inset-bottom) + 15px);
  display: flex;
  justify-content: center;
  padding: 0 15px;
}

.choice-tag {
  width: calc(100% / 5);
  max-width: 80px;
  aspect-ratio: 1 / 1;
  max-height: 100px;
  margin: 8px;
  font-size: 3vh;
}

.button-next-container {
  margin-bottom: calc(env(safe-area-inset-bottom) + 15px);
  width: 100%;
  padding: 0 15px;
  max-height: 100px;
}

.button-next {
  margin: 8px;
  height: 80px;
  width: 100px;
}