header {
  position: fixed;
  top: 0;
  width: 800px;
  max-width: 100%;
  z-index: 1000;
}

.header-buttons {
  margin: env(safe-area-inset-top);
  display: flex;
  justify-content: space-between;
}

.button-back {
  padding: 15px;
}

.button-show-explanation {
  padding: 15px;
}

main {
  padding-top: 60px;
  width: 100%;
}

.subject {
  text-align: left;
  font-size: 25px;
  margin: 10px 30px;
  width: 90%;
}

.md-text {
  text-align: left;
  font-size: 18px;
  margin: 10px 30px;
  width: 90%;
}

.md-text p {
  margin: 5px auto;
}

li {
  list-style: none;
}

.question-choices {
  text-align: left;
  margin: 10px 40px;
  width: 90%;
}

.question-choices p {
  font-size: 15px;
  margin: 5px auto;
}

.question-choice-content {
  margin-left: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 800px;
  max-width: 100%;
  z-index: 1000;
  justify-content: center;
}

.new-question-textbox {
  width: 70%;
  height: 50px;
  display: inline-block;
  margin: 10px auto;
  padding: 0 20px;
  background-color: rgb(235, 235, 235);
  color: black;
  border-radius: 999px;
  font-size: 16px;
}

.choices {
  margin-bottom: calc(env(safe-area-inset-bottom) + 15px);
  display: flex;
  justify-content: center;
  padding: 0 15px;
}

.choice-tag {
  width: calc(100% / 5);
  max-width: 80px;
  aspect-ratio: 1 / 1;
  max-height: 100px;
  margin: 8px;
  font-size: 3vh;
}

.button-next-container {
  margin-bottom: calc(env(safe-area-inset-bottom) + 15px);
  width: 100%;
  padding: 0 15px;
  max-height: 100px;
}

.button-next {
  margin: 8px;
  height: 80px;
  width: 100px;
}

.labelCorrectIncorrect {
  font-size: 2rem;
  font-weight: bold;
}

.correct {
  color: #db3232;
}

.incorrect {
  color: #3776ff;
}

.generationStatText {
  font-weight: bold;
  font-size: 2lvh;
  margin: auto auto;
}

.generating {
  animation: generatingTextFade 2s ease-in-out infinite;
}
@keyframes generatingTextFade {
  0% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.9;
  }

  100% {
    opacity: 0.3;
  }
}

.generated {
  animation: generatedTextFade 3s ease-out forwards;
}
@keyframes generatedTextFade {
  0% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
